#/******************************************************************************
#*   Copyright (C)      Mathieu Goulin <mathieu.goulin@gadz.org>               *
#*                                                                             *
#*   This program is free software; you can redistribute it and/or             *
#*   modify it under the terms of the GNU Lesser General Public                *
#*   License as published by the Free Software Foundation; either              *
#*   version 2.1 of the License, or (at your option) any later version.        *
#*                                                                             *
#*   The GNU C Library is distributed in the hope that it will be useful,      *
#*   but WITHOUT ANY WARRANTY; without even the implied warranty of            *
#*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU         *
#*   Lesser General Public License for more details.                           *
#*                                                                             *
#*   You should have received a copy of the GNU Lesser General Public          *
#*   License along with the GNU C Library; if not, write to the Free           *
#*   Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA         *
#*   02111-1307 USA.                                                           *
#******************************************************************************/

# log file path
# to store all message in file
logfile=/var/log/filenotify.log

# log level INFO or DEBUG or ERROR
loglevel=DEBUG

# plugins dir
plugins_dir=/var/lib/filenotify/
plugins.log=plg_notify_log.so
plugins.influxdb=plg_http_post.so
plugins.exec1=plg_notify_exec.so
plugins.exec2=plg_notify_exec.so

# plugins http_post
influxdb.url=http://localhost:8086/write?db=data
influxdb.data=file_status,host=localhost,dirname=%s,filename=%s value=%s
influxdb.auth=james:bond

exec1.cmd=echo "exec1 - file_status,dirname=%s,filename=%s value=%s"
exec2.cmd=echo "exec2 - file_status,dirname=%s,filename=%s value=%s"
# directory to watch
# watch_directory.<key>=<directory_path>
watch_directory.0=/tmp/test1
#watch_directory.3=/tmp/test4
watch_directory.1=/tmp/test3
